
/************  Container Styles  ************/

.main-container {
    border: 3px solid red;
    font-family: 'Amita', cursive;
    letter-spacing: 0.1rem;
    margin: 0 10%;
    position: fixed;
    top: 10%;
    width: 80%
}

.card-container {
    align-items: center;
    align-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    width: 100%;
}

.content-card {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 220px;
    width: 30%;
}

.content-card h3 {
    font-size: 13pt;
    font-weight: bold;
}

.content-card p {
    font-size: 9pt;
}

/* @media screen and (min-width: 600){
    .content-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
} */

.content-container {
    align-items: center;
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* line-height: 0.3rem; */
    margin: 0 auto;
    padding: 4rem 0;
    width: 99%;
}

.mandarin {
    font-family: 'Ma Shan Zheng', cursive;
}
